/* ######### Global ######### */
* {
  margin: 0;
  box-sizing: border-box;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.text-purple {
  color: #7F22FE;
}

.bg-purple {
  background-color: #7F22FE;
}

.bg-purple-light {
  background-color: #EDE9FE;
}

@font-face {
  font-family: inter;
  src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  font-family: inter;
  background-color: #F8FAFC;
}

/* ############################## */
/* ########## nav ########### */
/* ############################## */

nav {
  background-color: #d38d8d;
}


/* ############################## */
/* ########## section ########### */
/* ############################## */

.counter {
  border: #F3F4F6 solid 2px;
  transition: all 0.2s;
}

.counter:hover {
  box-shadow: #ecedf0 0px 2px 2px;
}

.total,
.favourite,
.emergency {
  width: 50px;
  height: 50px;
}

.i-icon,
.i-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.total {
  background: linear-gradient(to right, #2678FF, #1B68FE);
}

.favourite {
  background: linear-gradient(to right, #FF9F00, #FF8300);
}

.emergency {
  background: linear-gradient(to right, #F81446, #F00030);
}


nav {
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.7);
}


.nav-logo,
.nav-btn,
.btn-save {
  background: linear-gradient(to right, #7D24FE, #4F39F6);
}

.nav-pic {
  width: 40px;
  height: inherit;
}


/* ######################### */
/* model */
/* ######################### */
.i-user {
  background: linear-gradient(to bottom, #3F90FF, #2371FE);
}

.fa-user {
  width: 40px;
  height: 40px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

#myForm {
  max-height: 60vh;
  scrollbar-width: none;
  overflow: auto;
}

.modal-header .btn-close {
  transform: scale(0.8);
  padding: 8px;
  transition: all 0.2s;
}

.modal-header .btn-close:hover {
  background-color: #F3F4F6;
}

.check {
  opacity: 85%;
  transition: all 0.2s;
}

.check:hover {
  opacity: 100%;
}

.check label,
#favourite,
#emergency {
  cursor: pointer;
}







/* ######################### */
input.search {
  border: #dbdee1 solid 2px;
  outline: none;
  transition: all 0.2s;
}

input.search:focus {
  border: #6632FA solid 2px;
}


.contact-pic , .fav-pic , .emerg-pic {
  background: linear-gradient(to right, #009BE8, #0077F5);
}

.i-name {
  width: 18px;
  height: 18px;
}

.contact-pic {
  width: 3.2rem;
  height: 3.2rem;
}



.btn-call {
  background-color: #ECFDF5;
  transition: all 0.2s;
}

.btn-call:hover {
  background-color: #D0FAE5;
}

.btn-mail {
  background-color: #F5F3FF;
  transition: all 0.2s;
}

.btn-mail:hover {
  background-color: #EDE9FE;
}

.btn-mail:hover i {
  color: #FFB900;
}

.right-btn i {
  transition: all 0.2s;
}

.btn-fav:hover i{
  color: #FFB900 !important;
}

.btn-edit:hover i{
  color: #1a1aff !important;
}

.btn-emerg:hover i ,.btn-del:hover i{
  color: #ff1f0f !important;
}

.btn-fav:hover , .btn-emerg:hover{
  background-color: #e4e4e4;
}

.btn-edit:hover{
  background-color: #EEF2FF;
}

.btn-del:hover{
  background-color: #FFF1F2
}

/* #################### */
/* #################### */

.fav-head{
  background-color: #FFF7ED;
}

.i-fav{
  background-color: #FF8A00;
}

.emerg-head{
  background-color: #FEF2F2;
}

.i-emerg{
  background-color: #F30336;
}